<template lang="html">
  <div class="border-arrows" :class="{'is-active': isActive }">
    <div class="border-arrows__upper"></div>
    <div class="border-arrows__lower"></div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.border-arrows {
  display: none;

  @include mq($from: desktop) { display: block }

  &__upper,
  &__lower {
    position: absolute;
    left: 50%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 0;
    height: 0;
    transition: transform .8s ease;
    will-change: transform;
    z-index: 999;
  }

  &__upper {
    bottom:0;
    border-bottom: 20px solid #ffff;
    transform: translateX(-50%) translateY(100%);

    .is-active & { transform: translateX(-50%) translateY(0%); }
  }

  &__lower {
    top:0;
    border-top: 20px solid #fff;
    transform: translateX(-50%) translateY(-100%);

    .is-active & { transform: translateX(-50%) translateY(0%); }
  }
}
</style>
