<template lang="html">
  <ul class="questions" :class="{'is-hovered': hover}">
    <li class="questions__item" v-for="question in questions">
      <button @mouseover="hover = true" @mouseleave="hover = false" @click="next(question.next)"><span>{{ question.text }}</span></button>
    </li>
  </ul>
</template>

<script>
import { gsap, Power3, Elastic } from 'gsap'
import { mapState } from 'vuex'

export default {
  props: {
    questions: Array
  },
  data() {
    return {
      hover: false
    }
  },
  computed: {
    ...mapState({
      showPortfolio: state => state.config.showPortfolio,
      siteLoaded: state => state.siteLoaded
    })
  },
  mounted() {
    this.$nuxt.$on('show-questions', () => { this.show() })
  },
  beforeDestroy() {
    this.$nuxt.$off('show-questions')
  },
  watch: {
    showPortfolio: function(bool) {
      bool ?
        this.hide() :
        window.setTimeout(() => {
          this.show()
        }, 600)
    }
  },
  methods: {
    show() {
      const items = document.querySelectorAll('.questions__item')

      items.forEach(item => {
        gsap.set(item, {
          x: '60%',
          y: '0%',
          opacity: 0
        })
      })

      gsap.to('.questions > li', {
        duration: .6,
        x: '0%',
        y: '0%',
        opacity: 1,
        ease: Power3.easeOut,
        stagger: {
          from: "right",
          amount: .1
        },
        onComplete: () => {
          this.$store.dispatch('animationComplete')
        }
      })
    },

    hide(label) {
      const items = document.querySelectorAll('.questions__item')

      items.forEach(item => {
        gsap.set(item, {
          x: '0%',
          y: '0%',
          opacity: 1
        })
      })

      gsap.to(items, {
        duration: .3,
        y: '100%',
        x: '0',
        opacity: 0,
        ease: Power3.easeIn,
        stagger: {
          from: "top",
          amount: .1
        }
      })
    },

    next(label) {
     //TODO: record and sequence dialogue audio files

      const items = document.querySelectorAll('.questions__item')

      items.forEach(item => {
        gsap.set(item, {
          x: '0%',
          y: '0%',
          opacity: 1
        })
      })

      gsap.to(items, {
        duration: .3,
        y: '100%',
        x: '0',
        opacity: 0,
        ease: Power3.easeIn,
        stagger: {
          from: "top",
          amount: .1
        },
        onComplete: () => {
          this.$store.dispatch('chat/getDialogue', label)
        }
      })
    }
  }
}
</script>

<style lang="scss">
.questions {
  $root: &;
  position: absolute;
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  bottom: 0;
  padding: 1rem;

  @include mq($until: desktop) { background: rgba(27, 21, 47, 0.7); }

  @include mq($from: desktop) {
    display: block;
    right: 1.5rem;
    bottom: 1rem;
    width: auto;
    filter: drop-shadow(0 0 6px rgba(249,247,220,0.7));
    padding: 0;
  }

  @include mq($from: wide) {
    bottom: 2rem;
    right: 2.5rem;
  }

  &__item {
    flex-basis: 100%;
    position: relative;
    margin: .5em;
    opacity: 0;

    @include mq($from: desktop) {
      display: block;
      float: left;
      margin: 0;
    }
  }

  &.is-hovered button:not(:hover) {
    color: #ffffff7d;
    border: 1px solid #ffffff7d;
  }

  button {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1em;
    background: none;
    box-shadow: 0 0 20px transparent;
    color: #ffffffe0;
    cursor: pointer;
    padding: 1em;
    border: 1px solid #ffffffe0;
    border-radius: 6px;
    letter-spacing: -0.02rem;
    line-height: 1.3;
    outline: none;
    width: 100%;
    height: 100%;
    transition: all .2s ease;

    @include mq($from: desktop) {
      transform: skew(-20deg);
      margin: 1em;
      padding: 1.5em 2.5em;
      font-size: calc(14px + (20 - 14) * (100vw - 980px) / (1920 - 980));
      width: auto;
    }

    &:hover {
      color: #fff;
      border: 1px solid #fff;
    }

    span {
      display: block;

      @include mq($from: desktop) { transform: skew(20deg); }
    }
  }
}
</style>
