<template lang="html">
  <div class="dialogue-box">
    <transition name="fade">
    <div  class="dialogue" :class="messageComplete" v-show="showMessages">
     <div class="dialogue__lines" ref="dialogue">
        <p v-for="(message, index) in messages" :key="index" :id="label + index">
          <span v-html="message.text"></span>
          <audio :id="'audio' + label + index"><source :src="message.audio" type="audio/mp3"></audio>
        </p>
      </div>
    </div>
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { gsap, Expo } from 'gsap'
import { Float } from '@/assets/js/float.js'

export default {
  props: {
    label: String,
    messages: Array
  },
  data() {
    return {
      float: null,
      activeMessage: 0,
      showMessages: true,
      messageComplete: false
    }
  },
  computed: {
    ...mapState({
      showPortfolio: state => state.config.showPortfolio,
      isMobileDevice: state => state.isMobileDevice
    }),

    messageCount() {
      return this.messages.length
    }
  },
  watch: {
    activeMessage: function(index) {
      this.playMessage(index)
    },

    showPortfolio: function(val) {
      val ? this.float.halt() : !this.isMobileDevice ? this.float.init() : this.float.reset()
      this.showMessages = !val
    },

    isMobileDevice: function(val) {
      val ? this.float.reset() : this.float.init()
    }
  },
  methods: {
    playMessage(index) {
      const nextRef = document.getElementById(this.label + index)
      const audioRef = document.getElementById('audio' + this.label + index)

      if (index > 0) {
        const prevRef = document.getElementById(this.label + (index - 1))
        prevRef.classList.remove('is-active')
      }

      nextRef.classList.add('is-active')

      gsap.to(nextRef, {
        opacity: 1,
        x: 20,
        duration: 2,
        ease: Expo.out
      })

      // audioRef.addEventListener("ended", () => {
      //   if (index < (this.messageCount-1)) {
      //     this.activeMessage = index + 1
      //   } else {
      //     this.$nuxt.$emit('show-questions')
      //   }
      // })
      // audioRef.play()

      window.setTimeout(() => {
        this.messageComplete = true

        index < (this.messageCount-1) ?
          this.activeMessage = index + 1 :
          this.$nuxt.$emit('show-questions')

      }, this.messages[index].duration)
    }
  },

  mounted() {
    this.$store.dispatch('animationStarted')
    this.float = new Float(this.$refs.dialogue)
    this.playMessage(this.activeMessage)
  }
}
</script>

<style lang="scss">
.dialogue {
  &-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 7.6em;

    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 43%;
      width: 100%;
      max-width: 40vw;
      transform: translateY(-50%);
      will-change: transform;
    }
  }
  &__lines {
    top: 0;
    filter: drop-shadow(0 0 6px #f9f7dc80);
    width: 100%;

    p {
      position: relative;
      font-family: $font-header;
      font-size: calc(21px + (46 - 30) * (100vw - 980px) / (1920 - 980));
      margin-bottom: .8em;
      line-height: 1.2;
      opacity: 0;
      letter-spacing: -1px;

      @include mq($from: desktop) {
        &.is-active span { color: #fff; }

        &:nth-child(1) span { left: -20px; }
        &:nth-child(2) span { left: 20px;  }
        &:nth-child(3) span { left: 60px;  }

        span {
          display: block;
          position: relative;
          color: #feffd24f;
          transition: 2s ease;
        }
      }
    }
  }
}
</style>
