<template>
  <transition name="fade">
    <div class="welcome-container" v-show="!config.showPortfolio" :class="{'loaded': loaded}">
      <div class="welcome" ref="welcome">
        <svg class="welcome__logo" x="0px" y="0px" viewBox="434.836 219.248 120.52 98.767" enable-background="new 434.836 219.248 120.52 98.767" xml:space="preserve">
          <path class="welcome__logo__left-path"  stroke-width="1" stroke="#ffffff" fill="none" d="M495.278,223.257l-7.524,11.462l24.598,38.276h-19.287l-7.095,10.696h32.551l19.042,30.315h14.117 L495.278,223.257z"/>
          <path class="welcome__logo__right-path" stroke-width="1" stroke="#ffffff" fill="none" d="M458.838,303.311l28.531-46.085l-6.875-10.735l-41.983,67.517h84.214l-6.012-10.696H458.838z"/>
        </svg>
        <div class="welcome__headlines">
          <h1>{{ siteTitle }}</h1>
          <h2>{{ siteSubtitle }}</h2>
        </div>
      </div>
    </div>
  </transition>
</template>

<script type="text/javascript">
import { parallaxIt } from '@/assets/js/parallaxIt.js'
import { gsap, Back } from 'gsap'
import { mapState } from 'vuex'
import mq from '@/utils/mediaQueries.js'
import ButtonPowerOn from '@/components/patterns/buttons/ButtonPowerOn'

export default {
  components: {
    ButtonPowerOn
  },
  data() {
    return {
      loaded: false,
      containerClass: '.c-app',
      container: null,
      timeout: null
    }
  },
  mounted() {
    this.init()
  },
  computed: {
    ...mapState({
      siteTitle: state => state.siteTitle,
      siteSubtitle: state => state.siteSubtitle,
      powerOn: state => state.powerOn,
      config: state => state.config
    })
  },
  watch: {
    powerOn: function() {
      this.fadeOut()
    }
  },
  methods: {
    init() {
      this.container = document.querySelector(this.containerClass)
      const isDesktop = mq.isDesktop()
      if(isDesktop) {
        this.container.addEventListener('mousemove', this.loopParallax)
        // this.$store.dispatch('showPowerButton')
      }
      this.setLoaded()
    },

    setLoaded() {
      window.setTimeout(() => {
        this.loaded = true
      }, 2000)
    },

    loopParallax(e) {
      if (this.timeout) clearTimeout(this.timeout)
      this.timeout = setTimeout(this.callParallax.bind(null, e), 15)
    },

    callParallax(e) {
      parallaxIt(e, this.$refs.welcome, 23, this.containerClass)
    },

    fadeOut() {
      this.container.removeEventListener('mousemove', this.loopParallax)
      gsap.to(this.$refs.welcome, 0.6, {
        z: '-400px',
        opacity: 0,
        ease: Back.easeIn,
        onComplete: this.initChatScreen
      })
    },

    initChatScreen() {
      this.$store.dispatch('hideWelcomeScreen')
      this.$store.dispatch('showChatScreen')
    }
  }
}
</script>

<style lang="scss">
.welcome-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.welcome {
  text-align: center;
  margin-top:-4em;
  transform-style: preserve-3d;

  &__logo {
    filter: drop-shadow(rgba(212, 94, 132, 0.52) 0px 0px 5px);
    width: 130px;
    transition: all 1.5s ease;

    @include mq($from: tablet) { width: 150px; }
    @include mq($from: desktop) { width: 170px; }

    .is-loading & {
      opacity: 0;
      transform: translate3d(0,0,-.1em);

      path { animation: none!important; }
    }

    path { stroke-linejoin: round; }

    &__left-path {
      animation: logo-fill-1 2.3s normal forwards ease-in-out;
      transform: translate3d(0,0,0);
      transition: all 1.5s ease;
      stroke-dasharray: 310;
      stroke-dashoffset: 310;
      transform-origin: center;
    }

    &__right-path {
      animation: logo-fill-2 2.3s normal forwards ease-in-out;
      transform: translate3d(0,0,0);
      transition: all 1.5s ease;
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      transform-origin: center;
    }
  }

  &__headlines {
    h1 {
      display: block;
      bottom: -70px;
      font-size: 2.5em;
      color: white;
      margin-top: .3em;
      margin-bottom: .1em;
      filter: drop-shadow(rgba(247, 170, 194, 0.8) 0px 0px 5px);
      letter-spacing: 4px;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 2s ease;
      transition-delay: 1.5s;
      text-transform: uppercase;

      @include mq($from: tablet) { font-size: 3.1em;  }

      @include mq($from: desktop) {
        font-size: 3.9em;
        transform: translate3d(0, 0, 0) translateZ(40px);
      }

      .is-loading & {
        opacity: 0;
        transform: translate3d(0, 15px, 0);

        @include mq($from: desktop) { transform: translate3d(0, 15px, 0) translateZ(40px); }
      }

      .loaded & { transition-delay: 0s }
    }

    h2 {
      bottom: -100px;
      font-size: 1em;
      color: gainsboro;
      letter-spacing: .4px;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 2s ease;
      transition-delay: 2s;

      @include mq($from: tablet) { font-size: 1.4em; }
      @include mq($from: desktop) { font-size: 1.8em; }

      .is-loading & {
        opacity: 0;
        transform: translate3d(0,15px,0);
      }

      .loaded & { transition-delay: 0s }
    }

    h1,
    h2 {
      line-height:1.5;
    }
  }
}

@keyframes logo-fill-1 {
  0% { fill:
    transparent;
  }
  50% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}

@keyframes logo-fill-2 {
  0% {
    fill: transparent;
  }
  50% {
    fill:transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #d03a6a;
    stroke: #d03a6a;
    stroke-dashoffset: 0;
  }
}
</style>
