<template lang="html">
  <transition name="fade">
    <header class="main-header" v-if="showHeader">
      <div class="u-flex u-items-center">
        <h1 class="main-header__heading">{{title}}</h1>
        <p class="main-header__subtitle">{{subtitle}}</p>
      </div>
    </header>
  </transition>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      title: state => state.siteTitle,
      subtitle: state => state.siteSubtitle,
      showPortfolio: state => state.config.showPortfolio
    }),

    showHeader() {
      return !this.showPortfolio
    }
  }
}
</script>

<style lang="scss" scoped>
.main-header {
   position: fixed;
   top: 0;
   left: 0;
   height: $navHeightDesktop;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-size: 1.3em;
   padding-left: 1.5em;

   &__heading,
   &__subtitle {
     text-shadow: 2px 2px 6px #2f102f;
   }

   &__heading {
     &:after {
       content: '/';
       padding-left: .3em;
       padding-right: .3em;
       color: $color-primary;
     }
   }

   &__subtitle {
     font-family: $font-header;
     margin: 0;
   }
}
</style>
