body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-body;
  font-size: $base-font-size;
  color: $color-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
