<template lang="html">
  <div class="bottom-fade" :class="{'is-hidden': isHidden}"></div>
</template>

<script>
export default {
  props: {
    isHidden: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss">
.botton-fade {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(53, 19, 50, 0.6), rgba(54, 19, 49, 0));
  width: 100%;
  height: 250px;
  transform: translateY(0);
  transition: transform 2s ease;
  transition-delay: .3s;

  .is-loading &,
  &.is-hidden {
    transform: translateY(100%);
    transition-delay: 0s;
  }
}
</style>
