<template lang="html">
  <div class="chat-container">
    <SpaceMan />
    <!-- <ButtonMuteDialogue /> -->
    <template v-if="activeDialogue">
      <transition name="fade">
        <DialogueBox :messages="activeDialogue.m" :label="activeDialogue.label" :key="activeDialogue.label"/>
      </transition>
      <transition name="fade">
        <DialogueQuestions v-if="activeDialogue" :questions="activeDialogue.q" :key="activeDialogue.label" />
      </transition>
    </template>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import SpaceMan from '@/components/patterns/spaceman/SpaceMan'
import ButtonMuteDialogue from '@/components/patterns/buttons/ButtonMuteDialogue'
import DialogueBox from '@/components/patterns/dialogue/DialogueBox'
import DialogueQuestions from '@/components/patterns/dialogue/DialogueQuestions'

export default {
  components: {
    SpaceMan,
    ButtonMuteDialogue,
    DialogueBox,
    DialogueQuestions
  },
  computed: {
    ...mapGetters({
      activeDialogue: 'chat/activeDialogue'
    })
  },
  mounted() {
    window.setTimeout(() => {
      this.$store.dispatch('chat/getDialogue', 'welcome')
    }, 600)
  }
}
</script>

<style lang="scss">
.chat-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>
