<template lang="html">
  <div class="backdrop">
    <video playsinline loop muted ref="video">
      <source src="video/bg.mp4">
    </video>
    <div class="backdrop__noise"></div>
    <div class="backdrop__overlay"></div>
    <div class="backdrop__particles" id="particles"></div>
  </div>
</template>

<script>
import 'particles.js'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      particlesLoaded: false
    }
  },
  mounted() {
    this.init()
  },
  computed: {
    ...mapState({
      showPortfolio: state => state.config.showPortfolio
    })
  },
  watch: {
    showPortfolio: function(val) {
      val ? this.pauseVideo() : this.playVideo()
    }
  },
  methods: {
    init() {
      if (this.showPortfolio) { return }
      this.playVideo()
    },
    initParticles() {
      particlesJS.load('particles', 'json/particles.json', () => {
        this.particlesLoaded = true
      })
    },
    pauseVideo() {
      if (!this.particlesLoaded) { return }
      window.pJSDom[0].pJS.fn.vendors.destroypJS()
      window["pJSDom"] = []
      this.$refs.video.pause()
    },
    playVideo() {
      this.initParticles()
      this.$refs.video.play()
    }
  }
}
</script>

<style lang="scss" scoped>
.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;

  @include mq($from: desktop) { height: calc(100vh - 40px); }

  &__noise {
    position: absolute;
    background: url('/img/noise-overlay.png');
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    z-index:1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(84, 16, 48, 0.45);
    transition: background-color .6s ease;
    z-index: 4;

    .is-loading & {
      background: #2e2542
    }
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
