<template lang="html">
  <transition name="slideX">
    <nav v-if="showMainNavbar" class="nav-main" :class="{'is-animating': isAnimating}">
      <div class="nav-main__links">
        <button class="nav-main__link" type="button" name="button" @click="togglePortfolio">
          <span>Work</span>
        </button>
        <a class="nav-main__link" href="/files/cv.pdf" download="Lee Anderson - CV">
          <span>Resume</span>
        </a>
        <a class="nav-main__link" :href="contactHref" target="_blank">
          <span>Contact</span>
        </a>
      </div>
      <div class="nav-main__logo-container">
        <AppLogo/>
      </div>
    </nav>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { gsap, Power3 } from 'gsap'
import mq from '@/utils/mediaQueries.js'
import styles from '@/assets/css/01-settings/_settings.spacing.scss'
import AppSpinner from '@/components/elements/AppSpinner'
import AppLogo from '@/components/elements/AppLogo'

export default {
  components: {
    AppSpinner,
    AppLogo
  },
  computed: {
    ...mapState({
      siteLoaded: state => state.siteLoaded,
      isAnimating: state => state.isAnimating,
      showMainNavbar: state => state.config.showMainNavbar
    }),
    ...mapGetters({
      contactHref: 'getContactHref'
    })
  },
  methods: {
    getOffset() {
      let offset = styles.navHeightMobile
      let isTablet = mq.isTablet()
      let isDesktop = mq.isDesktop()

      if (isTablet)  { offset = styles.navHeightTablet  }
      if (isDesktop) { offset = styles.navHeightDesktop }

      return offset
    },

    show(el, done) {
      const offset = this.getOffset()
      const options = { x: 0, y: -1, ease: Power3.easeOut, opacity: 1 }
      gsap.to(el, 0.6, options)
      return done
    },

    hide(el, done) {
      const options = { x: '100%', ease: Power3.easeIn, opacity: 0 }
      gsap.to(el, 0.3, options)
      return done
    },

    togglePortfolio() {

      this.showPortfolio
      this.$store.dispatch('togglePortfolio')
    }
  }
}
</script>

<style lang="scss">
.nav-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: -2rem;
  padding-right: 2rem;
  z-index: 20;
  transform-origin: top right;

  &:before {
    content: '';
    position: absolute;
    border: 1px solid white;
    border-radius: 0 0 0 10px;
    filter: drop-shadow(0 0 5px white);
    width: 100%;
    height: 100%;
    transform: skew(40deg, 0deg);
  }

  &__logo-container {
    position: relative;
    border-left: 1px solid white;
    width: $navHeightMobile;
    height: $navHeightMobile;

    @include mq($from: tablet) {
      height: $navHeightTablet;
      width: $navHeightTablet;
      padding: $navHeightTablet/6;
    }

    @include mq($from: desktop) {
      height: $navHeightDesktop;
      width: $navHeightDesktop;
      padding: $navHeightDesktop/6;
    }
  }

  &__links {
    display: flex;
    flex-grow: 1;
    padding: 0 9px 0 18px;

    @include basic-transition(opacity)
    @include mq($from: tablet) { padding: 0 12px 0 23px; }
    @include mq($from: desktop) { padding: 0 25px 0 40px; }

    .is-animating & {
      opacity: .5;
      pointer-events: none;
    }
  }

  &__link {
    display: block;
    position: relative;
    font-size: .7em;
    background: none;
    cursor: pointer;
    padding: 0 $navHeightMobile/4;
    border: none;
    letter-spacing: .18em;
    line-height: $navHeightMobile;
    outline: none;
    text-transform: uppercase;

    @include mq($from: phablet) { font-size: .8em; }

    @include mq($from: tablet) {
      font-size: .9em;
      line-height: $navHeightTablet;
      padding: 0 $navHeightTablet/4;
    }

    @include mq($from: desktop) {
      font-size: 1em;
      line-height: $navHeightDesktop;
      padding: 0 $navHeightDesktop/4;
    }

    &:last-child { margin-right: 0; }

    &:hover span {
      color: #44f3cb;
      transition: .4s ease;
      text-shadow: 0 0 10px #9efbffbf, 0 0 5px #48c7c28f;
    }

    span {
      color: #fff;
      text-shadow: 0 0 0 rgba(158, 251, 255, 0), 0 0 0 rgba(72, 199, 194, 0);
    }
  }

  span {
    display: block;
    text-shadow: 0 1px 3px #32123073;
  }
}
</style>
