.c-content {
  header {
    position: relative;
    margin-top: $spacing-2xl;
    margin-bottom: $spacing-2xl;

    & > * {
      opacity: 0;
      transform: translateY(40px);
    }

    & > img { margin-top: $spacing-3xl; }

    .video-wrapper {
      margin-top: $spacing-4xl
    }
  }

  h1 {
    font-family: $font-header;
    font-size: $header-font-size * .7;
    margin-top: $spacing-2xl;
    margin-bottom: $spacing-2xl;
    line-height: 1;

    @include mq($from: tablet) {
      font-size: $header-font-size;
      margin-top: $spacing-3xl;
      margin-bottom: $spacing-3xl;
    }
  }

  p {
    display: block;
    font-size: 1rem;
    margin: $spacing-3xl auto;
    text-align: center;
    max-width: 630px;

    & + p { margin-top: -$spacing-xl; }

    @include mq($from: tablet) {
      font-size: 1.3rem;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: $spacing-md;
  }

  video {
    display: block;
    width: 100%;
    border-radius: $border-radius;
    margin-bottom: $spacing-lg;
  }

  figure {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: $spacing-2xl;

    img {
      display: block;
      width: 100%;
    }

    figcaption {
      font-style: italic;
    }
  }

  main {
    // padding-bottom: $spacing-2xl
  }

  footer {
    min-height: 200px;
  }

  .feature-image {
    opacity: 0;
    transform: translateY(40px);
    margin-top: $spacing-3xl;
    margin-bottom: 0;
  }

  .close-button {
    $root: &;
    top: 0rem;
    display: block;
    margin:0 auto;
    color: white;
    outline: none;
    position: relative;
    width: 80px;
    height: 80px;
    border: 0px solid white;
    border-radius: 100%;
    background-color: rgba(212,217,236,0.15);
    margin-top: $spacing-lg;
    transition: background-color .4s ease;
    padding: 0;
    cursor: pointer;

    &:hover {
      background: rgba(202, 209, 230, 0.38);
    }

    img {
      padding: 26px;
      width: 80px;
      height: 80px;
      transform: scale(1);
      transition: .4s ease;

      #{$root}:hover & {
        transform: scale(1.1);
        transition: .4s ease;
      }
    }
  }
}
