.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  padding: 1.2em 1.7em;
  border-radius: 3px;
  letter-spacing: 0.1em;
  text-align: center;
  transition: none;
  text-decoration: none;
  text-transform: uppercase;

  @include on-event {
    color: $color-light;
  }

  &:active {
    transform: translateY(1px);
  }

  @include mq($from: desktop) {
    padding-right: 2em;
    padding-left: 2em;
  }

  // & + & {
  //   margin-bottom: $spacing-unit;
  // }

  &--full {
    width: 100%;
  }

  &--primary {
    background: linear-gradient(90deg, $color-primary, $color-primary-offset);
    box-shadow: 0 5px 20px #a7108e8f;
    color: lighten($color-primary, 40%);

    @include on-event {
      color: lighten($color-primary, 50%);
      background: linear-gradient(90deg, lighten($color-primary, 5%), lighten($color-primary-offset, 5%));
    }
  }

  &--secondary {
    background: linear-gradient(90deg, $color-secondary, $color-secondary-offset);
    box-shadow: 0 5px 20px #174d8e87;
    color: lighten($color-secondary, 30%);

    @include on-event {
      color: lighten($color-secondary, 50%);
      background: linear-gradient(90deg, lighten($color-secondary, 5%), lighten($color-secondary-offset, 5%));
    }
  }
}
