.c-app {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  @include mq($from: desktop) {
    border: 20px solid #fff;
  }

  &__main {
    position: relative;
    height: 100%;
  }
}
