.c-figure {
  img {
    border-radius: 6px;
    width: 100%;
    background: grey;
    width: 100%;
    display: block;
  }
}

.lazyLoad {
  filter: blur(12px);

  &.isLoaded {
    filter: blur(0);
  }
}
