.c-flex-grid {
  display: flex;
  flex-wrap: wrap;

  & > * {
    padding: $spacing-xs;

    @include mq($from: tablet) { flex-basis: 50%; }

    @include mq($from: wide) {
      flex-basis: calc(100% / 3);
      padding: $spacing-md;
    }

    @include mq($from: hd) { flex-basis: 25%; }
  }
}
