<template lang="html">
  <div class="page-navigator">
    <div>
      <nuxt-link  class="page-navigator-link" :to="`/${prev.slug}`" :data-theme="prev.theme">
        <div class="page-navigator-link__overlay"></div>
        <div>
          <svg viewBox="0 0 31 89.5"><polyline points="29.5 1.5 1.5 47.06 26.66 88"/></svg>
          <!-- <svg class="icon icon-chevron-left" viewBox="0 0 32 32" aria-hidden="true"><path d="M14.19 16.005l7.869 7.868-2.129 2.129-9.996-9.997L19.937 6.002l2.127 2.129z"/></svg> -->
        </div>
        <div class='u-flex-grow'>
          <span class="page-navigator-link__eyebrow fix-">Previous Project</span>
          <span class="page-navigator-link__label u-text-leading-fix">{{ prev.label }}</span>
        </div>
      </nuxt-link>
    </div>
    <div>
      <nuxt-link class="page-navigator-link" :to="`/${next.slug}`" :data-theme="next.theme">
        <div class="page-navigator-link__overlay"></div>
        <div class="u-flex-grow">
          <span class="page-navigator-link__eyebrow">Next Project</span>
          <span class="page-navigator-link__label u-text-leading-fix">{{ next.label }}</span>
        </div>
        <!-- <div>
          <svg class="icon icon-chevron-right" viewBox="0 0 32 32" aria-hidden="true"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"/></svg>
        </div> -->
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['next', 'prev']
}
</script>

<style lang="scss" scoped>
.page-navigator {
  display: flex;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 6px;

  & > div {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;

    &:first-child {
      margin-right: 2em;
      text-align: left;
    }
    &:last-child {
      margin-left: 2em;
      text-align: right;
    }
  }

  svg {
    width: 1.3em;
    fill: #fff;
    opacity: .3;
    margin-right: 1.5em;
    polyline {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width:3px;
    }
  }

  &-link {
    $root: &;
    color: white;
    width: 100%;
    padding: 2em;
    color: white;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &__overlay {
      @extend %background-themes;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(calc(100% - 2px));
      transition: .4s ease;

      #{$root}:hover & {
        transform: translateY(0);
      }
    }

    &__eyebrow {
      display: block;
      font-size: .8em;
      font-weight: bold;
      margin-bottom: .5em;
      text-transform: uppercase;
      position: relative;
      opacity: .75;
      letter-spacing: 2px;
    }

    &__label {
      font-size: 3.2em;
      position: relative;
      font-family: $font-header;
    }
  }
}
</style>
