<template lang="html">
  <figure>
    <img :srcset="require('~/assets/img/' + data.src + '.jpg').srcSet" :alt="data.alt">
    <template v-if="hasCaption">
      <figcaption>{{ data.caption }}</figcaption>
    </template>
  </figure>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    hasCaption() {
      return this.data.caption.length
    }
  }
}
</script>
