<template lang="html">
  <a
    class="c-btn"
    :class="[
      'c-btn--' + theme,
      { 'c-btn--full': full }
    ]"
    :href="href"
    :target="target"
  >
    {{ label }}
  </a>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true
    },
    target: {
      type: String,
      default: '_self'
    },
    full: {
      type: Boolean,
      default: false
    },
    theme: {
      type: String,
      default: 'primary'
    }
  }
}
</script>

<style lang="css" scoped>
</style>
