<template lang="html">
  <div class="logo">
    <svg
      x="0px"
      y="0px"
      viewBox="434.836 219.248 120.52 98.767"
      enable-background="new 434.836 219.248 120.52 98.767"
      xml:space="preserve"
      ref="logoSvg"
    >
      <path class="logo__left-path" d="M495.278,223.257l-7.524,11.462l24.598,38.276h-19.287l-7.095,10.696h32.551l19.042,30.315h14.117 L495.278,223.257z"/>
      <path class="logo__right-path" d="M458.838,303.311l28.531-46.085l-6.875-10.735l-41.983,67.517h84.214l-6.012-10.696H458.838z"/>
    </svg>
  </div>
</template>

<script>
import { gsap, Power3 } from 'gsap'

export default {
  mounted() {
    this.spin()
  },
  methods: {
    spin() {
      gsap.fromTo(this.$refs.logoSvg, 3, {
        rotateY: '0deg'
      }, {
        rotateY: '360deg',
        delay: 5,
        repeat: -1,
        ease: Power3.easeOut
      })
    }
  }
}
</script>

<style lang="scss">
.logo {
  right: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 20;
  perspective: 140px;

  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }
}
</style>
