<template lang="html">
  <div class="loading-spinner u-centered">
    <div class="percent-loaded" v-if="percentLoaded">{{percentLoaded}}</div>
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50" cy="50" r="45"/>
    </svg>
  </div>
</template>

<script>
  export default {
    props: {
      percentLoaded: {
        type: Number,
        default: null
      }
    }
  }
</script>

<style lang="scss">
.percent-loaded {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  text-align: center;
  color: white;
  font-size: 1rem;
  opacity: 50%;
}

.loading-spinner {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 999;

  svg {
    animation: 2s linear infinite svg-animation;
    opacity: .5;
    max-width: 100px;
  }

  circle {
    display: block;
    animation: 1.4s ease-in-out infinite both circle-animation;
    fill: transparent;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 7px;
    transform-origin: 50% 50%;
    stroke: $color-light;
  }
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 240;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 240;
    transform: rotate(360deg);
  }
}
</style>
