<template lang="html">
  <div class="video-wrapper">
    <iframe
      :src="videoSrc"
      frameborder="0"
      width="100%"
      height="100%"
      allowfullscreen
      allow="autoplay"
      class="video-frame"
    ></iframe>
  </div>
</template>

<script>
export default {
  props: ['src'],
  computed: {
    videoSrc() {
      return `https://streamable.com/e/${this.src}?autoplay=1&nocontrols=1`
    }
  }
}
</script>

<style lang="scss">
.video-wrapper {
  width: 100%;
  height: 0px;
  position: relative;
  padding-bottom: 50.821%;
}

.video-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
</style>
