<template lang="html">
  <nav class="portfolio-nav">
    <button
      v-for="link in menuLinks"
      @click="navigate(link.slug)"
      class="portfolio-nav__link"
      :class="{'is-active': activeMenu === link.slug}"
    >
      {{ link.label }}
    </button>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      menuLinks: state => state.portfolioData.menuLinks,
      activeMenu: state => state.activeMenu
    })
  },
  methods: {
    navigate(slug) {
      this.$store.dispatch('pendingStart')
      this.$store.dispatch('setActiveMenu', slug)
    }
  }
}
</script>

<style lang="scss">
.portfolio-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__link {
    font-size: .9rem;
    background: none;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
    margin: 0;
    border: none;
    line-height: $navHeightMobile;
    opacity: .5;
    outline: none;
    transition: opacity .4s ease;

    @include mq($from: desktop) {
      font-size: 1rem;
      line-height: $navHeightDesktop;
    }

    &.is-active {
      opacity: 1;
    }
  }
}
</style>
