<template lang="html">
  <div class="portfolio" ref="portfolio">
    <transition name="slideY">
      <header class="portfolio__header" v-if="showPortfolioNavbar">
        <ButtonClose class="portfolio__close-button" @click.native="togglePortfolio" />
        <MyPortfolioNavbar />
      </header>
    </transition>
    <div class="portfolio__content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { gsap, TimelineMax, Power3 } from 'gsap'
import mq from '@/utils/mediaQueries.js'
import MyPortfolioNavbar from '@/components/patterns/myPortfolio/MyPortfolioNavbar'
import ButtonClose from '@/components/patterns/buttons/ButtonClose'

export default {
  components: {
    MyPortfolioNavbar,
    ButtonClose
  },
  data() {
    return {
      timeline: new TimelineMax()
    }
  },
  computed: {
    ...mapState({
      showPortfolio: state => state.config.showPortfolio,
      showPortfolioNavbar: state => state.config.showPortfolioNavbar,
      siteLoaded: state => state.siteLoaded
    })
  },
  watch: {
    showPortfolio: function(val) {
      val ? this.open() : this.close()
    }
  },
  mounted() {
    if (!this.siteLoaded && this.showPortfolio) {
      this.openImmediately()
    }
  },
  methods: {
    openImmediately() {
      gsap.set(this.$refs.portfolio, {
        y: 0,
        z: 0,
        x: 0,
        rotateZ: 0,
        rotateX: 0
      })
    },
    open() {
      this.animationStarted()
      mq.isDesktop() ? this.slideInTop() : this.slideInLeft()
    },

    close() {
      this.animationStarted()
      mq.isDesktop() ? this.closeTop() : this.closeLeft()
    },

    slideInTop() {
      this.timeline
        .fromTo(this.$refs.portfolio, {
          y: '-150%',
          z: '-200px',
          x: 0,
          rotateX: '-45deg',
        }, {
          duration: .3,
          delay: 0.2,
          y: 0,
          x: 0,
          z: '-500px',
          ease: Power3.easeOut,
          rotateX: 0,
          zIndex: 20
        }).to(this.$refs.portfolio, 0.3, {
          y: 0,
          z: 0,
          x: 0,
          ease: Power3.easeInOut,
          rotateZ: 0,
          onComplete: this.animationComplete
        })
    },

    closeTop() {
      this.timeline
        .fromTo(this.$refs.portfolio, {
          x: 0,
          y: 0,
          z: 0
        }, {
          x: 0,
          y: '-150%',
          z: '-200px',
          rotateX: '45deg',
          ease: Power3.easeIn,
          duration: 0.3,
          zIndex: 5,
        })
        .to(this.$refs.portfolio, 0, {
          rotateX: '-45deg',
          onComplete: this.animationComplete
        })
    },

    slideInLeft() {
      this.timeline
        .fromTo(this.$refs.portfolio, {
          x: '-100%',
          y: 0,
          z: 0,
          rotateX: 0
        },
        {
          x: 0,
          y: 0,
          z: 0,
          duration: 0.3,
          delay: 0.2,
          ease: Power3.easeOut,
          zIndex: 20,
          onComplete: this.animationComplete
        })
    },

    closeLeft() {
      this.timeline
        .fromTo(this.$refs.portfolio, {
          x: 0,
          y: 0,
          z: 0,
          rotateX: 0,
        },
        {
        x: '-100%',
        y: 0,
        ease: Power3.easeIn,
        duration: 0.3,
        zIndex: 5,
        onComplete: this.animationComplete
      })
    },

    animationStarted() {
      this.$store.dispatch('animationStarted')
    },

    animationComplete() {
      this.$store.dispatch('animationComplete')
    },

    togglePortfolio() {
      this.$store.dispatch('togglePortfolio')
    }
  }
}
</script>

<style lang="scss">
.portfolio {
  position: absolute;
  top: 0;
  left: 0;
  background: #0d2f4e6e;;
  width: 100%;
  height: 100%;
  transform: translateY(0) translateX(-100%) translateZ(0) rotateX(0);
  will-change: transform;
  z-index: 5;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    transform: translateY(-150%) translateX(0) translateZ(-200px) rotateX(-45deg);
  }

  &__header {
    width: 100%;
    display: flex;
    background: rgba(32, 27, 62, 0.84);
    width: 100%;
    z-index: 20;
    backdrop-filter: blur(7px);
  }

  &__content {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__close-button {
    left: 1em;
    margin: .4em;

    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: unset;
    }
  }
}
</style>
