<template lang="html">
  <transition
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false"
  >
  <div class="power-button" @click="powerOn" v-show="showPowerButton">
    <svg class="power-button__spinner">
      <circle />
    </svg>
    <svg class="power-button__spinner">
      <circle />
    </svg>
    <img class="power-button__icon power-button__icon--open" src="/img/icon-power.svg">
  </div>
  </transition>
</template>

<script>
import { gsap, Power3, Linear } from 'gsap'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      circumference: 2,
      rotaryBorderLoaded: false,
      isFirstLoad: true
    }
  },
  computed: {
    ...mapState({
      showPowerButton: state => state.config.showPowerButton,
    })
  },
  methods: {
    beforeEnter(el, done) {
      gsap.set(el, {
        perspective: 300,
        opacity: 0,
        scale: 0.8,
        onComplete: done
      })
    },
    enter(el, done) {
      gsap.to(el, 1.6, {
        opacity: 1,
        scale: 1,
        delay: this.isFirstLoad ? 3 : 0, // Add delay for first load to account for intro animation
        ease: Power3.easeInOut,
        onComplete: function(done) {
          gsap.to('.power-button__spinner', 2.5, {
            rotationX: 180,
            repeat: -1,
            ease: Power3.easeInOut,
            delay: -this.circumference/2,
            stagger:  0/(this.circumference/2)
          })

          gsap.to('.power-button__spinner', 6.3, {
            rotation: 360,
            repeat: -1,
            ease: Linear.easeNone
          })

          return done
        }
      })

      if (this.isFirstLoad) { this.isFirstLoad = false }
    },
    leave(el, done) {
      gsap.to(el, {
        opacity: 0,
        scale: 0.8,
        duration: 0.3,
        ease: Power3.easeOut,
        onComplete: function(done) {
          gsap.killTweensOf('.power-button__spinner')
          gsap.killTweensOf(el)
          return done
        }
      })
    },
    powerOn() {
      this.$store.dispatch('powerOn')
    }
  }
}
</script>

<style lang="scss">
$buttonWidth: 76px;

.power-button {
  $root: &;
  cursor: pointer;
  height: $buttonWidth;
  width: $buttonWidth;
  position: absolute;
  bottom: 15vh;
  opacity: 0;
  left: calc(50% - #{$buttonWidth/2});
  z-index: 3;

  circle {
    transition: all .1s ease;
    stroke-width: 1;
    stroke: rgba(171, 179, 187, 0.7);
    r: $buttonWidth/2 - 1;
    fill: none;
    cx: $buttonWidth/2;
    cy: $buttonWidth/2;
  }

  &:hover circle  {
    stroke: #fff;
    stroke: rgba(221, 225, 228, 1);
    stroke-width:3;
    r: $buttonWidth/1.5;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0px 0px 2px #f19bce);
    opacity: 0.9;
    opacity: 0.8;
    width: $buttonWidth/2 + 10;
    transform: translateX(-50%) translateY(-50%);
    transition: all .4s ease;
    z-index: 1;
    transform-origin: center;

    #{$root}:hover & {
      opacity: 1;
      filter: drop-shadow(0px 0px 7px #f19bce);
      transform: translateX(-50%) translateY(-50%) scale(1.1);
    }

    &--open {
      path:first-child { fill: #fff; }
      path:last-child { fill: #d03a6a ;}
    }

    &--close {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      width: 18px;
      transform: translateX(-50%) translateY(-50%);
      transition: all .4s ease;
      z-index: 1;
      transform-origin: center;

      g {
        transform: scale(0.8);
        transform-origin: center;
      }
    }
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    overflow: visible;
    width: $buttonWidth;
    height: $buttonWidth;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:nth-child(1) { clip: rect(0px $buttonWidth $buttonWidth/2 0px) }
    &:nth-child(2) { clip: rect($buttonWidth/2 $buttonWidth $buttonWidth 0px) }
  }

}
</style>
