<template lang="html">
  <button @click="toggleIsMuted">{{ buttonLabel }}</button>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      isMuted: state => state.chat.isMuted
    }),
    buttonLabel() {
      return this.isMuted ? 'unmute' : 'mute'
    }
  },
  methods: {
    toggleIsMuted() {
      this.isMuted ? this.$store.dispatch('chat/muteDialogue') : this.$store.dispatch('chat/unmuteDialogue')
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: white;
  font-size: 2em;
}
</style>
