<template lang="html">
  <button class="close-button" :class="['close-button--' + size]">
    <img src="/img/icon-close.svg" alt="close">
  </button>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>

<style lang="scss">
.close-button {
  background: #595c6994;
  cursor: pointer;
  padding: 12px;
  margin: 0;
  border: none;
  border-radius: 50%;
  outline: 0;
  width: 40px;
  height: 40px;
  transition: .4s ease;

  @include mq($from: desktop) {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  &:hover {
    background: #595c69;
  }

  img {
    display: block;
    width: 16px;
    height: 16px;
    @include mq($from: desktop) {
      width: 20px;
      height: 20px;
    }
  }

  &--small {

  }

  &--large {

  }
}
</style>
