.fade-enter-active,
.fade-leave-active {
  @include basic-transition(opacity)
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  @include basic-transition(opacity)
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.slideY-enter-active,
.slideY-leave-active {
  @include basic-transition(all)
  transform: translateY(0%);
  opacity: 1;
}

.slideY-enter,
.slideY-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slideX-enter-active,
.slideX-leave-active {
  @include basic-transition(all)
  transform: translateX(0%);
  opacity: 1;
}

.slideX-enter,
.slideX-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
