.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: $color-dark !important;
}

.u-text-center {
  text-align: center;
}


.u-text-leading-fix {
  left: -4px;
  margin-right: -4px;
}
