.hidden { display: none !important; }
// 
// @each $name in $mq-breakpoints {
//   .hidden–#{$name} {
//     @include mq($from: $name) {
//       display: none !important;
//     }
//   }
// }

.hidden-mobile {
  @include mq($until: phablet) {
    display: none !important;
  }
}

.hidden-phablet {
  @include mq($from: phablet) {
    display: none !important;
  }
}

.hidden-tablet {
  @include mq($from: tablet) {
    display: none !important;
  }
}

.hidden-desktop {
  @include mq($from: desktop) {
    display: none !important;
  }
}
