%background-themes {
  [data-theme="strawberry"] & {
    background: linear-gradient(to bottom, #e0214da3, #de208017);
  }
  [data-theme="ocean"] & {
    background: linear-gradient(to bottom, #43a0d6eb, #3f4db1f0);
  }
  [data-theme="banana"] & {
    background: linear-gradient(to bottom, rgba(255, 180, 88, 0.92157), rgba(218, 72, 72, 0.94118));
  }
  [data-theme="nectarine"] & {
    background: linear-gradient(to bottom, rgba(255, 180, 88, 0.8), rgba(218, 72, 72, 0.7));
  }
  [data-theme="berry"] & {
    background: linear-gradient(to bottom, rgba(239, 82, 119, 0.85), rgb(232, 173, 130));
  }
  [data-theme="sepia"] & {
    background: linear-gradient(to bottom, rgba(255, 150, 75, 0.29), #c5327dc7);
  }
  [data-theme="durian"] & {
    background: linear-gradient(to bottom, rgba(119, 255, 192, 0.87), #ffc135);
  }
}
