$font-header: "Montserrat", sans-serif;
$font-body: Arial,  Helvetica Neue, Helvetica, sans-serif;

$base-font-size: 16px;
$base-line-height: 1.6;
$base-letter-spacing: 0.04em;

$header-line-height: 1.2;
$header-font-size: 4rem;
