$color-dark: #000;
$color-grey: #4a4a4a;
$color-light: #fff;

$color-primary: #d03a6a;
$color-primary-offset: #ff64bb;

$color-secondary: #486ae4;
$color-secondary-offset: #5da6ff;

$color-body: $color-light;
$color-link: $color-primary;
