$spacing-unit: 8px;

$spacing-xs: $spacing-unit;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;
$spacing-2xl: $spacing-unit * 5;
$spacing-3xl: $spacing-unit * 6;
$spacing-4xl: $spacing-unit * 7;
