<template>
<div :class="{'is-loading': !siteLoaded}" class="c-app" ref="app">

  <!-- Stratosphere -->
  <VideoBackground />
  <ChatScreen v-if="config.showChatScreen" />

  <!-- Navigation Elements -->
  <MainNavbar />
  <SourceLink />
  <MainHeader />

  <!-- Portfolio Area -->
  <MyPortfolio />

  <!-- Graphic Elements -->
  <BorderTriangles :is-active="config.showBorderTriangles" />
  <BottomFade :is-hidden="!config.showBottomFade" />

  <!-- Spinner | Page Transition -->
  <transition name="fade">
    <AppSpinner v-show="showSpinner"/>
  </transition>

  <!-- Spinner | Inital Load -->
  <transition name="fade">
    <AppSpinner :percentLoaded="percentLoaded" v-if="!siteLoaded"/>
  </transition>

</div>
</template>

<script>
import createjs from 'preload-js'
import { mapState } from 'vuex'
import { gsap, TimelineMax, Sine, Power3 } from 'gsap'
import AppSpinner from '@/components/elements/AppSpinner'
import AppLink from '@/components/elements/AppLink'
import MainNavbar from '@/components/patterns/mainNavbar/MainNavbar.vue'
import MainHeader from '@/components/patterns/mainHeader/MainHeader.vue'
import WelcomeScreen from '@/components/patterns/welcomeScreen/WelcomeScreen'
import ChatScreen from '@/components/patterns/chatScreen/ChatScreen'
import MyPortfolio from '@/components/patterns/myPortfolio/MyPortfolio'
import BorderTriangles from '@/components/patterns/borderTriangles/BorderTriangles'
import BottomFade from '@/components/patterns/bottomFade/BottomFade'
import VideoBackground from '@/components/patterns/videoBackground/VideoBackground'
import SourceLink from '@/components/patterns/sourceLink/sourceLink'
import mq from '@/utils/mediaQueries.js'

export default {
  components: {
    AppSpinner,
    AppLink,
    MainNavbar,
    MainHeader,
    WelcomeScreen,
    ChatScreen,
    MyPortfolio,
    BorderTriangles,
    BottomFade,
    VideoBackground,
    SourceLink
  },
  head() {
    return {
      title: 'Lee Anderson - Designer/Developer'
    }
  },
  data() {
    return {
      percentLoaded: 0
    }
  },
  computed: {
    ...mapState({
      siteLoaded: state => state.siteLoaded,
      config: state => state.config,
      pending: state => state.pending
    }),
    showSpinner() {
      return this.siteLoaded && this.pending
    },
    isHomepage() {
      this.$nuxt.$route.name === 'index'
    }
  },
  async fetch() {
    let initialArea = this.$nuxt.$route.name === 'index' ? 'home' : 'project'
    await this.$store.dispatch('setInitialArea', initialArea)
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.initEventListeners()
      this.setPerspective()
      this.preloadAssets()
    },
    initEventListeners() {
      let resizeTimer

      window.addEventListener('resize', (e) => {
        clearTimeout(resizeTimer)
        resizeTimer = setTimeout(() => {
          this.setPerspective()
          this.checkDeviceSize()
        }, 250)
      })
    },
    setPerspective() {
      const perspective = this.$refs.app.offsetWidth

      gsap.set(this.$refs.app, {
        perspective: perspective
      })
    },
    checkDeviceSize() {
      const isMobileDevice = !mq.isDesktop()
      this.$store.dispatch('setIsMobileDevice', isMobileDevice)
    },
    setPercentLoaded(event) {
      this.percentLoaded = Math.round(100 * event.loaded)
    },
    preloadAssets() {
      const queue = new createjs.LoadQueue()
      const manifest = [
        {
          id: "bgVideo",
          src:"video/bg.mp4"
        },
        {
          id: "spaceman",
          src:"/img/lee.png"
        }
      ]

      queue.on("progress", this.setPercentLoaded)
      queue.on("complete", () => this.$store.dispatch('siteLoaded'))
      queue.loadManifest(manifest)
    }
  }
}
</script>
