<template lang="html">
  <article class="project-card" :data-theme="data.theme">
    <img class="project-card__image" :src="data.placeholder" :srcset="data.srcSet" sizes="80vw" @load="imageLoaded" />
    <div class="project-card__overlay"></div>
    <ul class="project-card__tags">
      <li v-for="tag in data.tags">{{ tag }}</li>
    </ul>
    <div class="project-card__content">
      <h1 class="project-card__title">{{ data.title }}</h1>
      <p class="project-card__subtitle">{{ data.subtitle }}</p>
    </div>
    <nuxt-link :to="data.slug" class="project-card__link"></nuxt-link>
    <div class="project-card__button-container">
      <nuxt-link :to="data.slug" class="project-card__button">View Project</nuxt-link>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    imageLoaded() {
      //
    }
  }
}
</script>

<style lang="scss">
.project-card {
  border-radius: 10px;
  overflow:hidden;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.4;
  transition: .7s ease;
  transform: scale(0.9);
  font-size: .6rem;
  margin-left: $spacing-md;
  margin-right: $spacing-md;

  @include mq($from: phablet) { font-size: .7rem; }
  @include mq($from: tablet) { font-size: .8rem; }
  @include mq($from: desktop) { font-size: 1rem; }

  .swiper-slide-active & {
    opacity: 1;
    transform: scale(1);
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
    @extend %background-themes;
  }

  &__tags {
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
    white-space: nowrap;

    li {
      background: #ffffff2e;
      padding: .3em .6em;
      border-radius: $border-radius;
      box-shadow: #32325d0d 0px 6px 12px -2px, #0000000d 0px 3px 7px -3px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__title {
    font-size: 4.2em;
    color: white;
    margin-bottom: -.04em;
    white-space: nowrap;
  }

  &__subtitle {
    font-size: 1.5em;
    opacity: .7;
    font-weight: 500;
  }

  &__button-container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
    transition: all .4s ease .6s;

    .swiper-slide-active & {
      opacity: 1;
      transform: translatex(-50%) translateY(0);
    }
  }

  &__button {
    font-size: .7rem;
    background: #ffffff;
    color: #8c90a9;
    cursor: pointer;
    padding: 1.2em 2.8em;
    border: none;
    border-radius: 2.8em;
    letter-spacing: 3px;
    outline: none;
    transition: all .4s ease;
    text-transform: uppercase;
    font-weight: bold;
    @include basic-transition()

    &:hover { color: #201b3ed6; }

    @include mq($from: desktop) {
      font-size: .9rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    transition-delay: .4s;

    .swiper-slide-active & { transform: scale(1.1); }
  }
}

</style>
