<template lang="html">
<div class="c-page">
  <transition v-on:enter="enter">
  <div class="c-container c-content" v-if="showPageContent">
    <header id="header" ref="header">
      <ButtonClose @click.native="closeProject()"/>
      <h1 class="u-text-center">{{ pageContent.title }}</h1>
      <p v-for="paragraph, index in pageContent.description">
        {{ paragraph }}
      </p>
      <AppVideo :src="pageContent.featureVideo" />
    </header>
    <main>
      <component
        v-for="(item, index) in pageContent.items"
        :data="item.data"
        :is="getContentComponent(item.type)"
        :key="index"
      />
      <PageNavigator :next="pageContent.next" :prev="pageContent.prev" />
    </main>
  </div>
  </transition>
</div>
</template>

<script>
import { mapState } from 'vuex'
import { gsap, Power3 } from 'gsap'
import VueResponsiveImage from 'vue-responsive-image'
import ButtonClose from '@/components/patterns/buttons/ButtonClose'
import AppFigure from '@/components/elements/AppFigure'
import AppVideo from '@/components/elements/AppVideo'
import AppParagraph from '@/components/elements/AppParagraph'
import PageNavigator from '@/components/patterns/pageNavigator/PageNavigator'

export default {
  components: {
    VueResponsiveImage,
    ButtonClose,
    AppFigure,
    AppVideo,
    AppParagraph,
    PageNavigator
  },
  data() {
    return {
      pageLoaded: false,
      pageContent: null,
      transitionDuration: .6,
      transitionStagger: .075
    }
  },
  computed: {
    ...mapState({
      siteLoaded: state => state.siteLoaded,
      showChatScreen: state => state.config.showChatScreen,
    }),
    routeSlug() {
      return this.$route.params.project
    },
    showPageContent() {
      return this.pageLoaded && this.pageContent
    }
  },
  watch: {
    siteLoaded: function(val) {
      if (val) { this.setPageLoaded() }
    },
  },
  async fetch() {
    const data = await fetch(`/json/projects/${this.$route.params.project}.json`)
    this.pageContent = await data.json()
  },
  async mounted() {
    if (!this.siteLoaded) { return }
    this.setPageLoaded()
  },
  beforeRouteLeave (to, from, next) {
    this.leave(next)
  },
  methods: {
    getContentComponent(type) {
      return {
        figure: AppFigure,
        video: AppVideo,
        paragraph: AppParagraph
      }[type]
    },
    setPageLoaded() {
      this.pageLoaded = true
      this.$store.dispatch('showPortfolio')
    },
    enter(el, done) {
      const options = {
        y: 0,
        opacity: 1,
        stagger: this.transitionStagger,
        ease: Power3.easeOut,
        onComplete: done
      }

      gsap.to('#header > *', this.transitionDuration, options)
    },
    leave(next) {
      const options = {
        y: '20px',
        opacity: 0,
        stagger:this.transitionStragger,
        ease: Power3.easeIn,
        onComplete: next
      }

      gsap.to('#header > *', this.transitionDuration, options)
    },
    closeProject() {
      this.$router.push('/')
    }
  }
}
</script>
