<template>
<div class="c-page">
  <transition name="fade" tag="div" mode="out-in">
    <component :is="menu" />
  </transition>
</div>
</template>

<script>
import { mapState } from 'vuex'
import PortfolioProjects from '@/components/templates/PortfolioProjects'
import PortfolioCode from '@/components/templates/PortfolioCode'
import PortfolioDesign from '@/components/templates/PortfolioDesign'

export default {
  data() {
    return {
      pending: false
    }
  },
  head() {
    return {
      title: this.title,
    }
  },
  components: {
    PortfolioProjects,
    PortfolioCode,
    PortfolioDesign
  },
  computed: {
    ...mapState({
      menu: state => state.activeMenu,
      config: state => state.config,
      siteLoaded: state => state.siteLoaded
    }),
  },
  watch: {
    siteLoaded: function(val) {
      if (val) this.enterHomepage()
    },
  },
  mounted() {
    if (!this.siteLoaded) return
    this.enterHomepage()
  },
  beforeDestroy() {
    this.leaveHomepage()
  },
  methods: {
    enterHomepage() {
      this.$store.dispatch('homepageEnter')
    },
    leaveHomepage() {
      this.$store.dispatch('homepageLeave')
    }
  }
}
</script>
