<template lang="html">
  <transition v-on:leave="hide" v-on:enter="show">
    <div v-if="!showPortfolio" class="spaceman hidden-mobile" id="space" ref="spacemanContainer">
      <img src="/img/lee.png" ref="spaceman">
    </div>
  </transition>
</template>

<script>
import { gsap, TimelineMax, Power3 } from 'gsap'
import { mapState } from 'vuex'
import { Float } from '@/assets/js/float.js'

export default {
  data() {
    return {
      float: null,
      timeline: new TimelineMax()
    }
  },
  computed: {
    ...mapState({
      showPortfolio: state => state.config.showPortfolio
    })
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.float = new Float(this.$refs.spaceman)
      this.setInitialPosition()
      if (!this.showPortfolio) { this.slideIn() }
    },
    setInitialPosition() {
      gsap.set(this.$refs.spacemanContainer, {
        x: '-50%',
        y: '100%',
        rotateZ: '-10deg'
      })
    },
    slideIn() {
      gsap.fromTo(this.$refs.spacemanContainer, {
          x: "-50%",
          rotateZ: '-10deg',
          y: "100%"
        }, {
          x: "0%",
          duration: 1,
          y: "0%",
          rotateZ: '0deg',
          delay: 0,
          ease: Power3.easeOut,
          onComplete: this.float.init()
        })
    },
    show(el, done) {
      this.timeline
        .fromTo(el, 1, {
          y: '40%',
          x: '-100%',
          rotateZ: '-10deg'
        }, {
          y: 0,
          x: 0,
          rotateZ: 0,
          ease: Power3.easeOut,
          delay: 0.15,
          onComplete: () => {
            this.float.init()
            done
          }
        })
    },
    hide(el, done) {
      this.float.halt()
      this.timeline
        .fromTo(this.$refs.spacemanContainer, 0.3, {
          y: 0,
          z: 0,
          rotateZ: 0,
        }, {
          y: '40%',
          x: '-100%',
          rotateZ: '-10deg',
          ease: Power3.easeIn,
        })
    }
  }
}
</script>

<style lang="scss">
.spaceman {
  position: absolute;
  bottom: 0;
  bottom: -2em;
  width: 100%;
  will-change: transform;

  @include mq($from: phablet) {
    width: 700px;
    left: -300px;
  }

  @include mq($from: tablet) {
    width: 700px;
    left: -300px;
  }

  @include mq($from: desktop) {
    width: calc(600px + (900 - 600) * (100vw - 980px) / (1920 - 980));
    left: -12vw;
  }

  @include mq($from: wide) {
    left: -6vw;
  }

  @include mq($from: hd) {
    width: 47vw;
    left: -2em;
  }

  img {
    width: 100%;
  }
}
</style>
