<template lang="html">
  <section class="c-section c-flex-grid" :class="{'hovered': hovered}">
    <div class="card" v-for="item in items" @mouseenter="hovered = true" @mouseleave="hovered = false">
      <div class="card__image">
        <img :src="item.placeholder" :data-srcset="item.srcSet" sizes="25vw" v-lazy-load/>
      </div>
      <div class="card__content">
        <h3 class="card__title">
          {{ item.title }}
        </h3>
        <div class="card__buttons">
          <AppLink :label="'Open'" :href="item.urlFull" :target="'_blank'" :full="true" />
          <AppLink :label="'View Code'" :href="item.urlPen" :target="'_blank'" :full="true" :theme="'secondary'" />
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import { mapState } from 'vuex'
import { gsap, Power3 } from 'gsap'
import AppLink from '@/components/elements/AppLink'

export default {
  data() {
    return {
      hovered: false,
    }
  },
  components: {
    AppLink
  },
  computed: {
    ...mapState({
      items: state => state.portfolioData.code
    })
  },
  mounted() {
    gsap.to('.gallery-item', {
      opacity: 1,
      duration: .6,
      y: 0,
      ease: Power3.easeOut,
      stagger: {
        from: "bottom",
        amount: .4
      },
    })
    
    this.$nuxt.$store.dispatch('pendingStop')
  }
}
</script>

<style lang="scss">
.card {
  $root: &;
  display: flex;
  flex-direction: column;
  transition: .4s ease;
  will-change: opacity;
  width: 100%;

  .hovered & {
    opacity: 0.8;
  }

  &:hover {
    opacity: 1;
  }

  &__image {
    position: relative;
    background: #d7d9dc38;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to left, #c4bce221, #4d496973);
    }

    img {
      display: block;
      box-shadow: -11px 14px 18px #262b5247, -4px 7px 7px #261a3836;
      margin: 2rem;
      border-radius: 3px;
      opacity: .8;
      width: calc(100% - 4rem);
      transition: .4s ease;
      #{$root}:hover & { opacity: 1 ;}
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(45deg, #bf84a536, #7dbedc24);
    padding: 1.5rem;
    backdrop-filter: blur(30px);
  }

  &__title {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1.3rem;
    letter-spacing: 0.02rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit;
  }
}
</style>
