<template lang="html">
<div class="projects">
  <swiper
    class="swiper"
    ref="projectSwiper"
    :cleanup-styles-on-destroy="false"
    :options="swiperOptions"
    @slideChange="updateActiveSlideIndex"
    v-if="loaded"
  >
    <swiper-slide v-for="project in projects" :key="project.slug">
      <ProjectCard :data="project" />
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</div>
</template>

<script>
import { mapState } from 'vuex'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
import ProjectCard from '@/components/patterns/projectCard/ProjectCard'

export default {
  components: {
    Swiper,
    SwiperSlide,
    ProjectCard
  },
  data() {
    return {
      loaded: false,
      swiperOptions: {
        speed: 700,
        resistanceRatio: 0,
        mousewheel: true,
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 1,
        initialSlide: this.slideIndex,
        pagination: {
          el: '.swiper-pagination'
        },
        breakpoints: {
          800: {
            slidesPerView: 1.2,
          },
          1200: {
            slidesPerView: 1.3,
          },
          1400: {
            slidesPerView: 1.5,
          }
        }
      }
    }
  },
  computed: {
    ...mapState({
      projects: state => state.portfolioData.projects,
      slideIndex: state => state.activeSwiperSlideIndex
    }),
    swiper() {
      return this.$refs.projectSwiper.$swiper
    }
  },
  mounted() {
    this.swiperOptions.initialSlide = this.slideIndex
    this.$nuxt.$store.dispatch('pendingStop')
    this.loaded = true
  },
  methods: {
    updateActiveSlideIndex() {
      this.$store.dispatch('setActiveSwiperSlideIndex', this.swiper.realIndex)
    }
  }
}
</script>

<style lang="scss">
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper {
  $root: &;
  height: 100%;
  width: 100%;
  overflow: visible;

  #{$root} &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    height: 90%;
  }

  &-pagination {
    bottom: 10px;
    width: 100%;
    span { margin: 0 4px; }
  }

  #{$root} &-pagination-bullet {
    background-color: white;
    transition: .6s ease;
  }

  #{$root} &-pagination-bullet-active {
    background-color: #fff;
  }
}
</style>
