<template lang="html">
  <section class="c-section">
    <div class="masonry-grid" @open-image="openImage" :class="{'is-loaded': loaded}">
      <div class="masonry-grid__sizer"></div>
      <figure class="masonry-grid__item c-figure" @click="openImage(index)" v-for="item, index in galleryItems" :class="'masonry-grid__item--' + item.size">
        <img :src="item.placeholder" :data-srcset="item.srcSet" sizes="33vw" v-lazy-load @load="imageLoaded" />
      </figure>
    </div>
    <CoolLightBox
      :items="lightBoxUrls"
      :index="index"
      :overlayColor="overlayColor"
      @on-open="lightboxOpened"
      @close="lightboxClosed"
    >
    </CoolLightBox>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { gsap, Power3 } from 'gsap'
import Masonry from 'masonry-layout'
import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

export default {
  components: {
    CoolLightBox
  },
  data() {
    return {
      masonry: null,
      showLightBox: false,
      galleryLoaded: false,
      imagesLoaded: 0,
      loaded: false,
      index: null,
      overlayColor: '#34343eeb'
    }
  },
  computed: {
    ...mapState({
      galleryItems: state => state.portfolioData.design
    }),
    gallerySize() {
      return this.galleryItems.length
    },
    lightBoxUrls() {
      return Object.keys(this.galleryItems).map(item => this.galleryItems[item])
    }
  },
  mounted() {
    const masonryOptions = {
      itemSelector: '.masonry-grid__item',
      columnWidth: '.masonry-grid__sizer',
      percentPosition: true,
      gutter: 0
    }
    this.masonry = new Masonry( '.masonry-grid', masonryOptions)
    this.masonry.on('layoutComplete', () => { this.loaded = true })
    this.$nuxt.$store.dispatch('pendingStop')
  },
  methods: {
    layoutComplete() {
      gsap.to('.figure', {
        duration: 3,
        y: 0,
        opacity: 1,
        ease: Power3.easeOut,
        stagger: {
          from: "bottom",
          amount: 3
        },
      })
    },
    imageLoaded() {
      if (this.loaded) { return }
      this.imagesLoaded++
      if (this.imagesLoaded === this.gallerySize) {
        this.masonry.layout()
      }
    },
    openImage(index) {
      this.index = index
    },
    lightboxOpened() {
      this.$store.dispatch('hideLogo')
    },
    lightboxClosed() {
      this.index = null
      this.$store.dispatch('showLogo')
    }
  }
}
</script>

<style lang="scss">
@mixin staggered_transitions($nth: 1, $items: 2, $initial: 0, $step:.1) {
	@for $i from $nth through $items {
		&:nth-of-type(#{$i}){
			img { transition-delay:#{$initial}s; }
		}
		$initial: $initial + $step;
	}
}

.cool-lightbox-thumbs {
  background-color: #26262b;
}

.masonry-grid  {
  margin-left: -.5rem;
  margin-right: -.5rem;

  &.is-loaded > * {
    @include staggered_transitions($items: 10, $nth: 2, $initial: .1, $step: .1)

    img {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__item {
    padding: .5rem;
    float: left;
    width: 100%;

    @include on-event() {
      cursor: pointer;
    }

    @include mq($from: tablet) { width: calc(50%); }
    @include mq($from: desktop) { width: calc(33.33%); }

    img {
      opacity:0;
      transform: translateY(15px);
      transition: .4s ease;
    }
  }

  &__sizer {
    width: 100%;

    @include mq($from: tablet) { width: calc(50%); }
    @include mq($from: desktop) { width: calc(33.33%); }
  }

  &:after {
    @include clearfix
  }
}
</style>
