<template lang="html">
  <div class="source-link" :class="{'is-hovered': hovered}" @mouseenter="hovered = true" @mouseleave="hovered = false">
    <div class="source-link__bg"></div>
    <a class="source-link__anchor" :href="href" target="_blank">View Source</a>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    data() {
      return {
        hovered: false
      }
    },
    computed: {
      ...mapState({
        href: state => state.bitbucketRepoLink
      })
    }
  }
</script>

<style lang="scss">
.source-link {
  $root: &;
  bottom: 8em;
  position: absolute;
  z-index: 99;
  right: 100%;
  width: 140px;
  text-align: center;
  transform: translateX(0) rotate(-90deg);
  transform-origin: top right;
  display: block;
  transition: .6s ease 5s;

  .is-loading & { transform: translateX(-100%) rotate(-90deg); }

  &__bg {
    background: #fff;
    clip-path: polygon(83% 11%, 73% 89%, 0 100%, 0 0);
    height: 140px;
    position: absolute;
    transform: rotate(90deg);
    left: 100%;
    width: 46px;
    transform-origin: top left;
    transition: clip-path .4s ease, height .4s ease;

    #{$root}.is-hovered & {
      clip-path: polygon(99% 7%, 96% 90%, 0 100%, 0 0);
    }
  }

  &__anchor {
    display: block;
    padding: .6em 0 .9em 0;
    position: relative;
    transition: transform .4s ease;

    #{$root}.is-hovered & {
       transform: translateY(6px);
    }
  }
}
</style>
